:root {
  --dark-purple-color: #4e053e;
  --light-purple-color: #5b0e4e;
  --gold-color: #dc9c40;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --max-width: 1200px;
  --script-font: 'Great Vibes', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monserat', sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 0.5rem;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  color: var(--light-color);
  font-size: 1.2rem;
  background-color: var(--dark-purple-color);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.shadow {
  text-shadow: 5px 5px 2px var(--dark-color);
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: var(--dark-purple-color);
  z-index: 2;
  border-bottom: 2px solid var(--gold-color);
}

.navbar .logo {
  font-family: var(--script-font);
  font-size: 2.5rem;
  padding: 0px 30px;
  margin-top: 5px;
}

.navbar .logo span {
  color: var(--gold-color);
}

.navbar a {
  color: var(--light-color);
}

.navbar a:hover {
  color: var(--gold-color);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 20px;
}

.navbar ul li:hover {
  animation: swing 2s ease;
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Section Divider */
.section-divider {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0;
  opacity: 0.8;
}

.section-divider::before,
.section-divider::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 100px;
  overflow: hidden;
  width: 400px;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--light-color),
    var(--dark-purple-color)
  );
  border-radius: 5px;
}

.section-divider::before {
  position: absolute;
  left: 765px;
  background: linear-gradient(
    to right,
    var(--dark-purple-color),
    var(--light-color)
  );
}

.section-divider i {
  text-shadow: 2px 2px 5px var(--light-purple-color);
}

.section-divider .skull {
  color: var(--light-purple-color);
  z-index: 1;
  text-shadow: 2px 2px 5px var(--dark-color);
}

.section-divider .hearts {
  color: var(--gold-color);
  position: absolute;
  margin-right: 120px;
}

.section-divider .hearts:nth-child(1) {
  margin-left: 240px;
}

/* Main Homepage */
.main {
  position: relative;
  background: url('/img/img_2_1663527327060\ \(2\).jpg') no-repeat center
    center/cover;
  height: 100vh;
}

.main .main-header {
  position: absolute;
  color: var(--gold-color);
  top: 370px;
  text-align: center;
}

/* RSVP */
.flex-container {
  position: relative;
  display: flex;
  text-align: center;
}

.rsvp-side {
  flex: 1;
  position: relative;
}

.rsvp-side h3 {
  text-shadow: 2px 2px 5px var(--light-purple-color);
}

.rsvp-side p {
  padding: 10px 100px;
}

.rsvp-side::after,
.rsvp-side::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  color: var(--light-purple-color);
  font-size: 10rem;
  opacity: 0.1;
  position: absolute;
  top: 55px;
  right: 525px;
  z-index: 0;
}

.rsvp-side::before {
  color: var(--gold-color);
  top: 90px;
  right: 600px;
}

.rsvp-side .btn-rsvp {
  font-family: var(--script-font);
  font-size: 2rem;
  margin: 20px;
  box-shadow: 2px 2px 5px var(--dark-color);
  /* transition: transform 0.5s linear; */
}

.rsvp-side .btn-rsvp:hover {
  color: var(--gold-color);
}

.rsvp-side .btn-rsvp:active {
  transform: scale(0.9);
}

.live-counter {
  flex: 1;
  margin: 10px;
  background-color: var(--light-color);
  height: 250px;
  max-width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px var(--dark-color), 0 0 10px 10px var(--gold-color);
}

/* .live-counter::after,
.live-counter::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  color: var(--light-purple-color);
  font-size: 10rem;
  top: 50px;
  right: 90px;
  opacity: 0.1;
  position: absolute;
  z-index: 0;
} */

.live-counter::before {
  left: 90px;
  color: var(--gold-color);
}

.live-counter h3 {
  /* font-family: 'Monserat', sans-serif; */
  position: absolute;
  bottom: 165px;
  color: var(--light-purple-color);
}

.live-counter p {
  font-size: 6rem;
  font-family: var(--script-font);
}

/* Footer */

.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.footer .created {
  margin-top: 40px;
  margin-right: 10px;
}

.footer-contact {
  position: absolute;
  left: 170px;
  top: 20px;
}

.footer-contact a {
  color: var(--gold-color);
}
