:root {
  --dark-purple-color: #4e053e;
  --light-purple-color: #5b0e4e;
  --gold-color: #dc9c40;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --max-width: 1200px;
  --script-font: 'Great Vibes', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monserat', sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 0.5rem;
  text-shadow: 1px 1px 3px var(--dark-color);
}

img {
  width: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  color: var(--light-color);
  font-size: 1.2rem;
  background-color: var(--dark-purple-color);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.purple-text-shadow {
  text-shadow: 2px 2px 5px var(--light-purple-color);
}

hr {
  height: 3px;
  color: var(--dark-purple-color);
}

.flex-container {
  position: relative;
  display: flex;
  text-align: center;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: var(--dark-purple-color);
  z-index: 2;
  border-bottom: 2px solid var(--gold-color);
}

.navbar .logo {
  font-family: var(--script-font);
  font-size: 2.5rem;
  padding: 0px 30px;
  margin-top: 5px;
}

.navbar .logo span {
  color: var(--gold-color);
}

.navbar a {
  color: var(--light-color);
}

.navbar a:hover {
  color: var(--gold-color);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 20px;
}

/* Section Divider */
.section-divider {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0;
  opacity: 0.8;
}

.section-divider::before,
.section-divider::after {
  content: '';
  position: relative;
  top: 50px;
  left: 75px;
  width: 400px;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--light-color),
    var(--dark-purple-color)
  );
  border-radius: 5px;
}

.section-divider::before {
  position: relative;
  left: -75px;
  background: linear-gradient(
    to right,
    var(--dark-purple-color),
    var(--light-color)
  );
}

.section-divider i {
  text-shadow: 2px 2px 5px var(--light-purple-color);
}

.section-divider .skull {
  color: var(--light-purple-color);
  z-index: 1;
  text-shadow: 2px 2px 5px var(--dark-color);
  animation: gel 2s ease infinite;
}

@keyframes gel {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.01);
  }
}

.section-divider .hearts {
  color: var(--gold-color);
  position: absolute;
  margin-right: 120px;
  transform: rotate(-20deg);
}

.section-divider .hearts:nth-child(1) {
  margin-left: 240px;
  transform: rotate(20deg);
}

.divider-two i {
  margin-top: 20px;
  padding: 0 10px;
  text-shadow: 2px 2px 5px var(--gold-color),
    3px 3px 5px var(--light-purple-color);
}

.info-divider i {
  margin-top: 20px;
  opacity: 0.8;
  color: var(--gold-color);
  transform: rotate(-20deg);
}

.info-divider i:nth-child(1) {
  position: absolute;
  color: var(--light-purple-color);
  margin-left: 35px;
  transform: rotate(20deg);
}

.info-divider i:nth-child(2) {
  margin-right: 35px;
}

.section-divider-fun {
}

.section-divider-fun 

/* Main Homepage */
.main {
  position: relative;
  background: url('/img/img_2_1663527327060\ \(2\).jpg') no-repeat center
    center/cover;
  height: 100vh;
  border-bottom: 2px solid var(--gold-color);
}

.main .main-header {
  position: absolute;
  color: var(--gold-color);
  top: 370px;
  text-align: center;
}

.main .main-header h1 {
  text-shadow: 5px 5px 10px var(--dark-color);
}

.section-divider-main {
  margin: 50px 0px;
}

.welcome-content p {
  padding: 20px 150px 50px;
}

.welcome-content::after,
.welcome-content::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  color: var(--light-purple-color);
  font-size: 10rem;
  opacity: 0.1;
  position: absolute;
  bottom: 55px;
  right: 125px;
  z-index: 0;
}

.welcome-content::before {
  color: var(--gold-color);
  right: 200px;
  bottom: 10px;
}

.countdown h3 {
  text-align: center;
}

#timer {
  height: 200px;
  text-align: center;
}

#timer div {
  display: inline-block;
  padding: 30px;
  margin: 20px;
  background: var(--dark-purple-color);
  color: var(--light-color);
  border-radius: 10px;
  font-family: var(--script-font);
  font-size: 3rem;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.8);
}

#timer div span {
  display: block;
  color: var(--light-color);
  padding: 0px 20px;
  font-family: 'Monserat', sans-serif;
  font-size: 1rem;
}

.countdown::before {
  content: '\f57f';
  font-family: 'Font Awesome 5 Free';
  color: var(--light-purple-color);
  font-size: 10rem;
  opacity: 0.1;
  position: absolute;
  left: 120px;
  z-index: 0;
  animation: rotate 2s ease infinite;
}

@keyframes rotate {
  from {
    rotate: (0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* RSVP */
.rsvp {
  margin-top: 20px;
}

.rsvp-side p {
  padding: 10px 100px;
}

.rsvp-side::after,
.rsvp-side::before {
  content: '\f004';
  font-family: 'Font Awesome 5 Free';
  color: var(--light-purple-color);
  font-size: 10rem;
  opacity: 0.1;
  position: absolute;
  top: 155px;
  right: 125px;
  z-index: 2;
}

.rsvp-side::before {
  color: var(--gold-color);
  top: 190px;
  right: 200px;
}

.btn-rsvp {
  font-family: var(--script-font);
  font-size: 2rem;
  width: 200px;
  margin: 20px;
  box-shadow: 2px 2px 5px var(--dark-color);
  transition: transform 0.5s linear;
}

.btn-rsvp:hover {
  color: var(--gold-color);
}

.btn-rsvp:active {
  transform: scale(0.9);
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inputs input {
  display: flex;
  flex-direction: column;
  height: 25px;
  width: 250px;
  margin: 20px 0px 20px 115px;
  border: 2px solid var(--dark-purple-color);
  border-radius: 15px;
  padding: 15px 10px;
  font-size: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.inputs input:focus {
  background-color: var(--dark-purple-color);
  color: var(--light-color);
}

.inputs textarea {
  height: 150px;
  width: 285px;
  border: 2px solid var(--gold-color);
  border-radius: 10px;
  padding: 10px 0 0 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Venue */
.venue-heading h3,
.info h3 {
  font-size: 4.5rem;
  margin-left: 80px;
  margin-top: 10px;
}

.venue-accom h4,
.info-cards h4 {
  text-shadow: var(--gold-color) 1px 1px 3px;
}

.venue-accom,
.info-cards {
  padding: 15px 0;
  text-align: center;
}

.venue-accom p,
.info-cards p {
  padding: 10px 150px;
}

.venue-accom a {
  font-size: 32px;
  font-family: var(--script-font);
  color: var(--dark-color);
}

.venue-accom a:hover {
  color: var(--gold-color);
}

.venue-accom img,
.info-cards img {
  width: 30vw;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.8);
  transition: transform 0.6s;
}

.venue-accom img:hover,
.info-cards img:hover {
  transform: scale(1.2);
}

/* Fun */
.card-section {
  background-color: #bbb;
}

.card-h2 {
  text-align: center;
  font-size: 4rem;
  padding: 10px;
  margin: 0px 120px;
  border-bottom: 2px solid var(--light-purple-color);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  height: 400px;
  margin: 40px;
  text-align: center;
  perspective: 600px;
  border-radius: 15px;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
  transition: box-shadow 2.5s ease-in;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-origin: center right;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-container.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

.card-front {
  background-color: var(--dark-color);
  color: #fff;
}

.card-back {
  background-color: var(--light-purple-color);
  color: #fff;
  transform: rotateY(180deg);
}

.card h2 {
  font-size: 3rem;
}

.card .alt-h2 {
  font-size: 2.5rem;
  margin-top: 10px;
}

.card .flower {
  padding-right: 15px;
}

.card i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--light-color);
}

.card h3 {
  font-size: 2rem;
  padding-top: 20px;
  text-shadow: 2px 2px 4px var(--dark-color);
}

.card img {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid var(--gold-color);
  border-radius: 10px 10px 0 0;
}

.card p {
  padding: 10px 20px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

.progress-bar progress::-webkit-progress-bar {
  background-color: var(--light-color);
  height: 5px;
  border-radius: 10px;
}

.progress-bar progress::-webkit-progress-value {
  background-color: var(--gold-color);
}

.progress-bar label {
  margin-right: 100px;
}

label::after {
  content: '10%';
  position: absolute;
  left: 150px;
  font-size: 0.75rem;
  border: 1px solid var(--gold-color);
  border-radius: 50%;
  padding: 2px;
}

/* Footer */

.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.footer .created {
  margin-top: 40px;
  margin-right: 10px;
}

.footer-contact {
  position: absolute;
  left: 170px;
  top: 20px;
}

.created {
  font-size: 0.5rem;
}

.footer-contact a {
  color: var(--gold-color);
  padding: 10px;
}

.footer-contact .fa-envelope {
  animation: turn 2s ease infinite;
}

@keyframes turn {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.footer-contact .fa-phone {
  animation: shake 1s ease infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
}
