:root {
  --primary-color: #4e053e;
  --secondary-color: #7d146b;
  --gold-color: #dc9c40;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --max-width: 1200px;
  --script-font: 'Great Vibes', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monserat', sans-serif;
  line-height: 1.5;
  background: linear-gradient(
    318deg,
    var(--primary-color) 0%,
    var(--secondary-color) 10%,
    var(--light-color) 35%,
    var(--primary-color) 350%,
    var(--light-color) 100%
  );
  /* overflow: hidden; */
  /* background: radial-gradient(
    farthest-corner at 40px 40px,
    var(--primary-color) 0%,
    var(--light-color) 30%
  ); */
}

/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 0.5rem;
  text-shadow: 1px 1px 3px var(--dark-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  color: var(--light-color);
  font-size: 1.2rem;
  background-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.purple-text-shadow {
  text-shadow: 2px 2px 5px var(--secondary-color);
}

hr {
  height: 3px;
  color: var(--primary-color);
}

/* Logo */
.logo {
  position: absolute;
  left: 2%;
  top: 10px;
  font-family: var(--script-font);
  font-size: 2.5rem;
  color: var(--primary-color);
  padding: 0px 30px;
  margin-top: 5px;
}

.logo span {
  color: var(--gold-color);
}

/* Main Homepage */
.main {
  position: relative;
  height: 100vh;
}

.main .main-header {
  position: absolute;
  top: 60%;
  right: 60px;
}

.main .main-header h1 {
  text-shadow: 5px 5px 10px var(--dark-color);
  color: var(--gold-color);
  font-size: 4rem;
}

.welcome-message {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 350px;
  text-align: right;
}

.main .main-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  margin-left: 60px;
  box-shadow: 0px 36px 0px -30px var(--light-color),
    -36px 0px 0px -30px var(--light-color),
    0px -36px 0px -30px var(--light-color),
    36px 0px 0px -30px var(--light-color), 0 0 0 5px var(--primary-color);
  /* border: 2px solid var(--gold-color); */
  padding: 10px;
  z-index: -1;
}

/* Links to photo's */
.links-to-photos {
  position: absolute;
  top: 10px;
  right: 60px;
  text-align: right;
}

.links a {
  color: var(--dark-color);
}

.links a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.links i {
  color: var(--primary-color);
}

.links i:hover {
  color: var(--secondary-color);
}

/* Link to my website */
.web-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 0.75rem;
}

.my-website-link {
  color: var(--gold-color);
}

/* Media Queries */
@media (max-width: 1000px) {
  .logo {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }

  .main .main-header {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
  }

  .main .main-header h1 {
    font-size: 3rem;
  }

  .welcome-message {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .main .main-image {
    display: block;
    width: 95%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .links-to-photos {
    right: 10px;
  }

  .links li {
    text-align: right;
  }
}
